* {
    margin: 0px;
    padding: 0px;
}

.iconfont {
    font-family: "iconfont" !important;
    /* margin: 20px 32px; */
    /* font-size: 50px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.background {
    width: 600px;
    height: 1060px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    background: url(image/Background.png) no-repeat center;
    z-index: -1;
}

.box {
    width: 600px;
    height: 1060px;
    margin: auto;
}

.navigation_bar {
    width: 600px;
    height: 81px;
    display: flex;
}

.icon_1 {
    color: #8cc7d0;
    margin: 20px 32px;
    border-radius: 50%;
    font-size: 45px;
    border-width: 2px;
    /* border-color: #8cc7d0; */
    width: 50px;
    height: 50px;
}

.middle {
    flex: 1;
    text-align: center;
    font: 32px/81px Myriad Pro;
    color: #fff;
}

.icon_2 {
    margin: 20px 32px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #8cc7d0;
    /* background-image: url(image/Sign\ Up.png);
    background-repeat: no-repeat;
    background-position: -531px -32px; */
}

.photo {
    width: 600px;
    height: 200px;

}

.back {
    height: 150px;
    width: 150px;
    margin: 100px auto;
    background-color: rgba(136, 197, 206, 0.3);
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #8cc7d0;
    justify-content: center;
}

.add {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    color: #c0dbe3;
    margin: auto;
}

.PHOTO {
    width: 150px;
    height: 50px;
    /* line-height: 50px; */
    text-align: start;
    color: #afccda;
    font-size: 24px;
    text-align: center;

}

.fields {
    width: 444px;
    height: 466px;
    margin: auto;

}

.in {
    width: 444px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hr {
    height: 2px;
    background-color: rgba(255, 255, 255, .3);
    /* border-color: #fff; */

}

.First_Name {
    font-size: 20px;
    text-align: left;
    line-height: 60px;
    height: 60px;
    color: #fff;

}

.Last_name {
    font-size: 20px;
    text-align: left;
    line-height: 60px;
    height: 60px;
    color: #fff;
}

.Email_Address {
    font-size: 20px;
    text-align: left;
    line-height: 60px;
    height: 60px;
    color: #fff;
}

.out {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Password {
    width: 100px;
    font-size: 20px;
    text-align: left;
    height: 60px;
    color: #fff;
}

.show {
    font-size: 20px;
    text-align: left;
    height: 60px;
    color: #3cffb5;
}

.Sign_up {
    height: 76px;
    background-color: #fff;
    border-radius: 38px;
    font-size: 32px;
    text-align: center;
    line-height: 76px;
    color: #706d9f;
}

.button {
    height: 90px;
    display: flex;
    justify-content: center;
}

.Allready {
    height: 90px;
    font-size: 20px;
    color: #fff;
    line-height: 90px;
}
.Sign_In {
    height: 90px;
    font-size: 20px;
    color: #3cffb5;
    line-height: 90px;
}
.stars-space {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -300px;
    width: 600px;
    height: 100%;
    background-color: transparent;
    z-index: 0;
}

.star {
    display: block;
    width: 1px;
    background: transparent;
    position: relative;
    opacity: 0;
    /*过渡动画*/
    animation: star-ani 2s linear infinite;
    -webkit-animation: star-ani 2s linear infinite;
    -moz-animation: star-ani 2s linear infinite;
}

.star:after {
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 90px 5px 90px;
    border-color: transparent transparent transparent rgba(255,255,255, .8);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
    /*变形*/
    transform: rotate(-45deg) translate3d(1px, 3px, 0);
    -webkit-transform: rotate(-45deg) translate3d(1px, 3px, 0);
    -moz-transform: rotate(-45deg) translate3d(1px, 3px, 0);
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
}

.star-a {
    top: -30px;
    left: 20%;
}

.star-b {
    top: 60px;
    left: 24%;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
}

.star-c {
    top: 40px;
    left: 60%;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-delay: 15s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 5s;
}

.star-d {
    top: -30px;
    left: 108%;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.star-e {
    top: 40px;
    left: 86%;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.star-f {
    top: -200px;
    left: 60%;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
}

.star-g {
    top: -150px;
    left: 110%;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}

.star-h {
    top: -150px;
    left: 15%;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
}

@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0.5) translate3d(0, 0, 0);
        -webkit-transform: scale(0.5) translate3d(0, 0, 0);
        -moz-transform: scale(0.5) translate3d(0, 0, 0);
    }

    50% {
        opacity: 1;
        transform: translate3d(-200px, 200px, 0);
        -webkit-transform: translate3d(-200px, 200px, 0);
        -moz-transform: translate3d(-200px, 200px, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1.2) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
    }
}

@-webkit-keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0.5) translate3d(0, 0, 0);
        -webkit-transform: scale(0.5) translate3d(0, 0, 0);
        -moz-transform: scale(0.5) translate3d(0, 0, 0);
    }

    50% {
        opacity: 1;
        transform: translate3d(-200px, 200px, 0);
        -webkit-transform: translate3d(-200px, 200px, 0);
        -moz-transform: translate3d(-200px, 200px, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1.2) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
    }
}

@-moz-keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0.5) translate3d(0, 0, 0);
        -webkit-transform: scale(0.5) translate3d(0, 0, 0);
        -moz-transform: scale(0.5) translate3d(0, 0, 0);
    }

    50% {
        opacity: 1;
        transform: translate3d(-200px, 200px, 0);
        -webkit-transform: translate3d(-200px, 200px, 0);
        -moz-transform: translate3d(-200px, 200px, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1.2) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
    }
}
